.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.itemBox{
  background-color: #faa;
  float: left;  
  height: 20em;
  margin: 2em;
  border: solid 2px;
  width: 15em;
}

.itemHeader{
  background-color: #aaa;
  height: 2.5em;
  line-height: 2.5em;
}

.itemDetail{
  height: 17em;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
